{% extends 'layout/__base.html' %}
{% block body %}
    <div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box">
					<div class="content">
						<div class="header">
							<p class="lead">Login To Your Account</p>
						</div>
						<form class="form-login" method="post" id="login_form">
                            {% csrf_token %}
                            <div class="form-group has-danger">
                                <label class="sr-only" for="text-login-msg">Error Message</label>
                                <div id="div-login-msg" class="input-group col-xs-12">
                                    <div id="icon-login-msg" class="input-group-addon"><i id="login-msg-icon" class="fas fa-envelope"></i></div>
                                    <span id="text-login-msg" class="form-control">Type Your Username And Password.</span>
                                </div>
                            </div>
                            <div class="form-group has-danger">
                                <label class="sr-only" for="username">User Name</label>
                                <div class="input-group col-xs-12">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Username" required autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <div class="input-group col-xs-12">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                                </div>
                            </div>
							<div class="form-group clearfix">
								<span class="helper-text element-right">Don't Have An Account? <a href="{% url 'register' %}">Register</a></span>
							</div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-sign-in"></i> LOGIN</button>
							<div class="bottom">
								<span class="helper-text"><i class="fa fa-lock"></i> <a href="">Forgot password?</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $(function() {
            var $modalAnimateTime = 300;
            var $msgAnimateTime = 150;
            var $msgShowTime = 2000;
            $("#login_form").submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '{% url 'login' %}',
                    data: $(this).serialize(),
                    success: function(data)
                    {
                        if (data.error) {
                            msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#login-msg-icon'), $('#text-login-msg'), "error", "fa-times", "Login Error !!!");
                        } else {
                            msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#login-msg-icon'), $('#text-login-msg'), "success", "fa-check", "Login OK :)");
                            window.location.href = '{% url 'dashboard' %}';
                        }
                    }
                });
            });
            function msgFade ($msgId, $msgText) {
                $msgId.fadeOut($msgAnimateTime, function() {
                    $(this).text($msgText).fadeIn($msgAnimateTime);
                });
            }
            function msgChange($divTag, $iconTag, $msgIcon, $textTag, $divClass, $iconClass, $msgText) {
                var $msgOld = $divTag.text();
                msgFade($textTag, $msgText);
                $divTag.addClass($divClass);
                $msgIcon.removeClass("fa-envelope");
                $msgIcon.addClass($iconClass);
                $iconTag.addClass($divClass);
                setTimeout(function() {
                    msgFade($textTag, $msgOld);
                    $divTag.removeClass($divClass);
                    $msgIcon.removeClass($iconClass);
                    $msgIcon.addClass("fa-envelope");
                    $iconTag.removeClass($divClass);
                }, $msgShowTime);
            }
        });
    </script>
{% endblock %}