{% load staticfiles %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="col-md-12">
                    <div class="panel-content">
                        <h2 class="heading"><i class="fas fa-folder-open"></i> Add Account</h2>
                        <form enctype="multipart/form-data" id="acn-create-form" method="post" novalidate action="{% url 'add-account' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Account Name</label> <span class="text-danger">*</span>
                                <input type="text" placeholder="Account Name" name="name" class="form-control" required>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>